.sign-up-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.sign-up-form {
  width: 100%;
  max-width: 300px;
}

.button-container {
  margin: 5px;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}
